h1{
  font-family: "Playfair Display",  serif;
}
h2{
  font-size: 20px;
   font-family: "Playfair Display",  serif;
}
p{
   font-family: "Playfair Display",  serif;
}
li{
   font-family: "Playfair Display",  serif;
}
h3{
  font-family: "Playfair Display", serif;
}

